.root{
    overflow-x: hidden;
    width: 100vw;
    position: relative;
    height: 100%;
}



.left-side-bar{
    position: absolute;
    top: 0;
    left: -87vw;
    border: 1px solid pink;
    background-color: gray;
    height: 100vh;
    width: 87vw;
    box-sizing: border-box;
    transition: transform 250ms;
    z-index: 10;
}

.messages-main{
    position: absolute;
    top: 0;
    right: -100vw;
    border: 1px solid pink;
    background-color: gray;
    height: 100vh;
    width: 100vw;
    /* height: 0vh; */
    /* width: 0vw; */
    box-sizing: border-box;
    transition: transform 250ms;
    z-index: 10;
    /* display:none; */
}


.open-left-side-bar{
    /* left: 0; */
    transform: translateX(87vw);

}

.open-messages-main{
    /* left: 0; */
    transform: translateX(-100vw);
    /* display: flex; */
}

.ovh {
    overflow-y: hidden;
    height: 100vh;
}