<div class="root">

    <div *ngIf="displayType" class="display-type">
        Post
    </div>

    <div *ngIf="post.isPrivate" class="is-private">
        <mat-icon>https</mat-icon>
    </div>

    <div class="date">
        {{post.date | date: 'dd/MM/yyyy HH:mm'}}
    </div>

    <div class="content-type">
        {{post.type}}
    </div>

    <div class="username">
        {{post.parentUser.username}}
    </div>

    <div class="profile-img">
        {{post.parentUser.profile_img_src || 'some_src'}}
    </div>

    <div class="content">
        {{post.content}}
    </div>

    <div class="media" *ngIf="post.mediaType!=='no media'">
        <div class="media-cont" #mediaCont>

        </div>
    </div>

    <div class="social-bar">
        <!-- <div class="comment"></div>
        <div class="like"></div> -->
        <button (click)="commentToggler()" mat-raised-button color="primary">
            <mat-icon>comment</mat-icon>
        </button>
        <!-- [ngStyle]="{'background-color': recording.likes.includes(_users.userInfo._id) && 'gold' }"> -->
        <!-- [ngStyle]="{'background-color': (like===true) && 'gold' }"> -->
        <button [ngClass]="this.post.likes.includes(this._users.userInfo._id) ? 'gold' : ''" mat-raised-button color="primary"
            (click)="likePost(post._id);">
            <mat-icon>thumb_up</mat-icon>
        </button>
    </div>
    <app-comment-section [comments]="post.comments" [commentFoo]="addComment" [delCommentFoo]="delComment"
        [contentId]="post._id" *ngIf="commentsTog"></app-comment-section>
    <mat-icon *ngIf="canISeeAndRateIt()" mat-button [matMenuTriggerFor]="beforeMenu">more_vert</mat-icon>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button (click)="killMe.emit(post._id)" mat-menu-item>Delete</button>
    </mat-menu>





    <!-- <p>{{post |json}}</p> -->


</div>