/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
    background-color: rgb(48,48,48);
    color: white;
    user-select: none;
}

.active {
    display: initial
}
.hidden {
    display: none
}

.display-type{
    position: absolute;
    right: 50px;
    top: 18px;
    /* color: rgb(138, 135, 135); */
    color: lightskyblue;

}