<div class="root">
    
    <div class="header">
        <mat-icon
        (click)="slideMessagaesMain.emit('close');_r.navigateByUrl('/')"
        >arrow_back_ios</mat-icon>
        <!-- <mat-icon>ios_back_arrow</mat-icon> -->
        <div class="title">
            Messages
        </div>
        <!-- <mat-icon
        (click)="_r.navigateByUrl('/messages/newGroup')"
        >group_add</mat-icon> -->
    </div>

    <div class="list">

        <!-- *ngFor="let " -->
        <app-conversation-preview
        [preview]="preview"
        *ngFor="let preview of _messages.preview"
        ></app-conversation-preview>

    </div>
</div>