<div class="root"
(click)="_r.navigateByUrl('/explore/profile/'+userOrBand.username)"
>
    <div class="band-or-user">
        {{
            userOrBand.isBand ?
            'Band'
            : 'User'
        }}
    </div>

    <div class="username"
    >
        {{userOrBand.username}}
    </div>

    <div class="profile-img">
        <app-profile-img
        [src]="userOrBand.profile_img_src || ''"
        ></app-profile-img>
        <!-- {{userOrBand.profile_img_src || 'profile pic'}} -->
    </div>

    <div class="follows">
        <!-- <div class="following">
            {{userOrBand.following?.length}} Following
        </div> -->
        <div class="followers">
             {{userOrBand.followers?.length}} Followers
        </div>
    </div>

    <div class="genres">
        <div
        *ngFor="let genre of userOrBand.genres"
        class="genre">
            {{(genre | castGenre).name}}
        </div>
    </div>

    <!-- {{userOrBand |json}} -->
    <div  class="instruments">
        <div 
        *ngFor="let instrument of userOrBand.instruments"
        class="instrument">
        <div class="img">
            <app-profile-img
            size="30px"
            [src]="(instrument | castInstrument).img_src"
            ></app-profile-img>
        </div>
        <div class="name">
            {{(instrument | castInstrument ).name}}
        </div>
        </div>
    </div>

</div>