<div class="spinner-root"
[ngClass]="loading ? 'active' : 'hidden'"
>
<mat-spinner

></mat-spinner>
</div>
<div class="root"
[ngClass]="!loading ? 'active' : 'hidden'"
>

<div class="add-content-btn">
    <svg class="right-bell" height="90px" viewBox="0 0 100 100">
        <path fill="rgb(156,39,176)" d="M0,0
        100,0
        C50,20 50,80 0,100 Z" />
      </svg>
    <svg class="left-bell" height="90px" viewBox="0 0 100 100">
        <path fill="rgb(156,39,176)" d="M0,0
        100,0
        C50,20 50,80 0,100 Z" />
      </svg>
    <svg class="left-curve" viewBox="0 0 50 10">
        <path fill="rgb(156,39,176)" d="M0,0
        100,0
        C7,6 9,5 0,10 Z" />
    </svg>
    <!-- C5,2 5,8 0,9 Z" /> -->
    <svg class="right-curve" viewBox="0 0 50 10">
        <path fill="rgb(156,39,176)" d="M0,0
        100,0
        C7,6 9,5 0,10 Z"  />
      </svg>
      <div class="plus-rect"></div>
    <app-add-content-button (click)="formToggler()" ></app-add-content-button>
</div>
    <app-add-recording-form [ngClass]="formTog ? 'active' : 'hidden'"
    (successfulpost)="formListener($event)"
    ></app-add-recording-form>
    <div class="list">
        <app-recording-unit
        *ngFor="let recording of _users.mainContent.recordings"
        [recording]="recording"
        (killMe)="killRecording($event)"
        ></app-recording-unit>
    
    </div>
</div>