<div class="root">

  <form class="form" [formGroup]="myForm">

    <mat-form-field appearance="fill">
      <input 
      type="any"
       matInput
       placeholder="Title"
      formControlName="title"

      >
  </mat-form-field>

    <mat-radio-group aria-label="Select an option" formControlName="audioTrueVideoFalse">
      <mat-radio-button [value]="true">Audio</mat-radio-button>
      <mat-radio-button [value]="false"
      (click)="openCloseRecorder(true)"
      >Video</mat-radio-button>
  </mat-radio-group>

    <mat-radio-group aria-label="Select an option" formControlName="isPrivate">
      <mat-radio-button [value]="false">Public</mat-radio-button>
      <mat-radio-button [value]="true">Private</mat-radio-button>
  </mat-radio-group>

    <div class="media-input-btns">

      <input #fileInput
      (change)="tempHandleChange()"
      class="ng-hide" id="input-file-id" multiple type="file"
      
      />
      <span>mp3/mp4</span>

      <button
      mat-button
      class="record-btn"
      (click)="openCloseRecorder()"
      [ngClass]="myForm.controls.audioTrueVideoFalse.value ? 'active' : 'hidden'"
      >Record</button>
    </div>



  </form>


    <section #soundClips 
    [ngClass]="myForm.controls.audioTrueVideoFalse.value ? 'active' : 'hidden'"
    >
      <div></div>
    </section>

    <div 
   
    class="recorder" [ngClass]="recorderTog ? 'active' : 'hidden'">
        <section class="main-controls">
          <div id="buttons">
            <button
         
            #record>{{!recordingState ? 'Start' : 'Stop'}}</button>
            <!-- <button
            *ngIf="recordingState"
            #stop>Stop</button> -->
          </div>
        </section>

        <!-- VISUALISER -->
        <canvas #canvas></canvas>
      </div>

      <div class="error-div"></div>
      <div class="success-div"></div>

      <app-choose-instruments-bar (sendInstrumentArr)="chosenInstrumentsListener($event)"></app-choose-instruments-bar>
    
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Categories</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip 
            (click)="handleClickCategory(category)"
            *ngFor="let category of _users.currUserOtBand.bankCategories" 
            [ngStyle]="{'background-color': category.color}" >
                {{category.name}}
                <mat-icon matChipRemove (click)="delCategory(category.name)" >cancel</mat-icon>
            </mat-chip>
            <input placeholder="New Category" [matChipInputFor]="chipList"
            (matChipInputTokenEnd)="addCategory($event)">
        </mat-chip-list>
        <!-- [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" -->
    </mat-form-field>


      <div class="rating-stars">
          <mat-icon
          (click)="handleRatingStar(0)"
          >clear</mat-icon>
          <mat-icon
          (click)="handleRatingStar(1)"
          >star</mat-icon>
          <mat-icon
          (click)="handleRatingStar(2)"
          >star</mat-icon>
          <mat-icon
          (click)="handleRatingStar(3)"
          >star</mat-icon>
          <mat-icon
          (click)="handleRatingStar(4)"
          >star</mat-icon>
          <mat-icon
          (click)="handleRatingStar(5)"
          >star</mat-icon>
      </div>

      <button
      (click)="postRecording()"
      >Upload</button>

      <div class="error-div">{{errorDivMessage}}</div>
      <div class="success-div">{{successDivMessage}}</div>
      <!-- (click)="uploadFile()" -->

      <!-- {{myForm.value | json}}
      {{recordingSrc | json}}
      {{ratingStars | json}} -->
      <!-- {{chosenInstruments.length | json}}  -->
      <!-- {{chosenCategories.length | json}} -->
        <!-- {{fileToUpload | json}} -->

      <!-- {{myForm.valid}} -->

</div>