.root {
    background-color: rgb(48, 48 ,48);
    /* height: 400px; */
    color: white;
}

.form {
}

.record-btn{
    background-color: blueviolet;
    color: white;
}

.active{
    display: block;
}
.hidden{
    display: none;
}