<div class="spinner-root"
[ngClass]="loading ? 'active' : 'hidden'"
>
    <mat-spinner
    ></mat-spinner>
</div>
<div class="root"
[ngClass]="!loading ? 'active' : 'hidden'"
>
<div class="add-content-btn">
    <svg class="right-bell" height="90px" viewBox="0 0 100 100">
        <path fill="rgb(156,39,176)" d="M0,0
        100,0
        C50,20 50,80 0,100 Z" />
      </svg>
    <svg class="left-bell" height="90px" viewBox="0 0 100 100">
        <path fill="rgb(156,39,176)" d="M0,0
        100,0
        C50,20 50,80 0,100 Z" />
      </svg>
    <svg class="left-curve" viewBox="0 0 50 10">
        <path fill="rgb(156,39,176)" d="M0,0
        100,0
        C7,6 9,5 0,10 Z" />
    </svg>
    <!-- C5,2 5,8 0,9 Z" /> -->
    <svg class="right-curve" viewBox="0 0 50 10">
        <path fill="rgb(156,39,176)" d="M0,0
        100,0
        C7,6 9,5 0,10 Z"  />
      </svg>
      <div class="plus-rect"></div>
    <app-add-content-button (click)="formToggler()" ></app-add-content-button>
</div>
    
    <app-add-post-form *ngIf="formTog"
    (successfulPost)="formListener($event)"
    ></app-add-post-form>
    
    <div *ngIf="_users.userInfo.userFeed" class="list">
    
        <div
        *ngFor="let content of _users.userInfo.userFeed.reverse()"
        class="content-unit">
    
        <app-log-item
        [displayType]="true"
        *ngIf="content.type==='log'"
        [log]="content | castLog"
        >   
        </app-log-item>
    
        <app-recording-unit
        [displayType]="true"
        *ngIf="content.type==='recording'"
        [recording]="content | castRecording"
        >   
        </app-recording-unit>
    
        <app-post-unit
        [displayType]="true"
        *ngIf="content.type==='post'"
        [post]="content | castPost"
        (killMe)="killPost($event)"
        >   
        </app-post-unit>
    
    
        </div>
</div>


</div>

<!-- <div class="list">
    <app-post-unit
    [post]="post"
    *ngFor="let post of _users.mainContent.posts.reverse()"></app-post-unit>
</div> -->