<!-- <mat-spinner
[ngClass]="loading ? 'active' : 'hidden'" [diameter]="50"
></mat-spinner> -->

<div
class="rootroot"
[ngClass]="(_users.chosenAvatar===src)&&ofHeader ? 'glow' : ''"
>
<div class="loading"

[ngClass]="loading ? 'active' : 'hidden'"
[ngClass]="size ? 'size'+size : ''"
>
</div>

<!-- {{_users.chosenAvatar | json}} -->
    
    
    <div class="root"
    [ngClass]="!loading ? 'active' : 'hidden'"
    
    >
    
        <div class="cont" #cont>
            <div></div>
        </div>
    
    </div>
</div>