<div class="root">

    <div class="profile-header"
    (click)="_r.navigateByUrl('/explore/profile/'+_users.userInfo.username);slideLeftSidebar.emit('close')"
    >

        <div class="img-cont">
            
            <app-profile-img
                [src]="_users.userInfo.profile_img_src"
                >
            </app-profile-img>
            {{_users.userInfo.username}}
            {{_users.userInfo.profile_img_src}}
        </div>

    </div>

    <div class="button-list">

        <mat-selection-list [multiple]="false">
            <!-- <mat-list-option>
                My Bands
            </mat-list-option> -->
            
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <!-- My Bands -->
                        {{_users.userInfo.isBand ? 'Band Members' : 'My Bands'}}
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        hello
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div
                
                *ngFor="let band of _users.userInfo.bands"
                (click)="_r.navigateByUrl('/explore/profile/'+band.username);slideLeftSidebar.emit('close')"
                >
                {{band.username}}
                <!-- {{band.profile_img_src}} -->
                <!-- {{_users.userInfo.bands | json}} -->
                
                <app-profile-img
                [src]="band.profile_img_src || ''"
                >
            </app-profile-img>

                </div>
                <mat-list-option

                *ngFor="let participants of _users.userInfo.participants"
                (click)="_r.navigateByUrl('/explore/profile/'+participants.userId.username);slideLeftSidebar.emit('close')"
                >
                    {{participants.userId.username}}
                    {{participants.userId.profile_img_src || 'some_src'}}
                </mat-list-option>
            </mat-expansion-panel>


            <mat-list-option>
                Metronome
            </mat-list-option>

            <mat-list-option
            (click)="logout()"
            >
                Logout
            </mat-list-option>



            <!-- <mat-list-option>
              Settings
            </mat-list-option> -->
            <!-- <mat-list-option>
              Goals
            </mat-list-option> -->
            <!-- <mat-list-option>
              Stats
            </mat-list-option> -->
        </mat-selection-list>

    </div>

</div>